<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.gh.GhMapper">


    <select id="findWz" resultType="com.pojo.SendingVo">
        SELECT mobile,senddate from sms_send_history_backups where senddate&gt;=20180401000000 and senddate&lt;20180701000000 and arrive_succ=0 and arrive_fail=0
    </select>

    <select id="findUser" parameterType="com.pojo.SmsUser" resultType="com.pojo.SmsUser">
        SELECT id,username from sms_user
        <where>
            <if test="username!=null ">
                AND username=#{username}
            </if>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
        </where>
    </select>
    
    <update id="updateToSucc" parameterType="com.pojo.SendingVo">
        UPDATE sms_send_history_backups SET arrive_succ=#{arrive_succ},arrive_fail=#{arrive_fail} where id=#{id}
    </update>

    <select id="findFailList" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT id,mobile,senddate,arrive_succ,arrive_fail from sms_send_history_backups
        <where>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;#{endtime}
            </if>
          /* and  arrive_succ&lt;contentNum*/
        </where>
    </select>


    <select id="findUserList" parameterType="com.pojo.SmsUser" resultType="com.pojo.SmsUser">
        SELECT id,username from sms_user
        <where>
            <if test="username!=null ">
                AND username=#{username}
            </if>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
        </where>
    </select>

    <update id="updateByCondition" parameterType="com.pojo.SmsUser">
        UPDATE sms_user
        <set>
            <if test="address!=null ">
                address=#{address},
            </if>
            <if test="city!=null ">
                city=#{city},
            </if>
        </set>
        <where>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
        </where>
    </update>


    <select id="getGhUserDayCount" resultType="com.pojo.UserDayCount">
        SELECT c.uid uid,c.total total,c.fail fail,c.arrive_succ asucc,c.arrive_fail af,c.time time,u.username username,u.company company,u.city city from
        sms_user_day_count c INNER JOIN sms_user u on c.uid=u.id where c.time&gt;=20180401 and c.time &lt;20180901 and u.id in (1,17,18,19,20)
    </select>


    <select id="getTotal" parameterType="com.pojo.SendingVo" resultType="Integer">
         SELECT IFNULL(sum(contentNum),0)  from sms_send_history_backups
        <where>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
            <if test="excludeContent!=null">
                and content not like "%"#{excludeContent}"%"
            </if>
      </where>

    </select>

    <select id="getSucc" parameterType="com.pojo.SendingVo" resultType="Integer">
        SELECT IFNULL(sum(contentNum),0) from sms_send_history_backups
        <where>
            arrive_succ=contentNum and arrive_fail=0
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
            <if test="excludeContent!=null">
                and content not like "%"#{excludeContent}"%"
            </if>
        </where>
    </select>

    <select id="getFail" parameterType="com.pojo.SendingVo" resultType="Integer">
       SELECT IFNULL(sum(contentNum),0)  from sms_send_history_backups
        <where>
            arrive_succ=0 and arrive_fail=contentNum
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
            <if test="excludeContent!=null">
                and content not like "%"#{excludeContent}"%"
            </if>
        </where>
    </select>

    <select id="getWz" parameterType="com.pojo.SendingVo" resultType="Integer">
       SELECT IFNULL(sum(contentNum),0) from sms_send_history_backups
        <where>
            arrive_succ=contentNum and arrive_fail=0
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
            <if test="excludeContent!=null">
                and content not like "%"#{excludeContent}"%"
            </if>
        </where>
    </select>


    <select id="getHistorySucc" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT h.mobile mobile,h.pid pid,h.content content,h.senddate senddate,h. contentNum contentNum,u.username username from
        sms_send_history_backups h INNER join sms_user u on h.uid=u.id
        <where>
            h.arrive_succ=h.contentNum and h.arrive_fail=0 and h.senddate&gt;=#{starttime} and h.senddate&lt;#{endtime}
            <if test="username!=null">
                and u.username=#{username}
            </if>
            <if test="uid!=null and uid>0">
                and h.uid=#{uid}
            </if>
            <if test="content!=null">
                and h.content not like "%"#{content}"%"
            </if>
            <if test="starttime!=null and starttime>0">
                and h.senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and h.senddate&lt;#{endtime}
            </if>
        </where>
        ORDER BY senddate
    </select>


    <select id="findUserDayCount" parameterType="com.pojo.UserDayCount" resultType="com.pojo.UserDayCount">
        SELECT  sum(c.total) total,sum(c.arrive_succ) asucc,sum(c.arrive_fail) af,c.uid uid,u.username username from sms_user_day_count c
        INNER JOIN sms_user u on c.uid=u.id where c.time&gt;=#{starttime} and c.time&lt;=#{endtime} and u.username=#{username}
    </select>





    <update id="updateSmsSendHistory" parameterType="com.pojo.SendingVo">
      update sms_send_history_backups set arrive_fail=0,arrive_succ=contentNum
        <where>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                and mobile=#{mobile}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;#{endtime}
            </if>
            and arrive_succ=0 and arrive_fail=contentNum
        </where>
    </update>
</mapper>