<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.mapper21.SendHistoryMapper">

    <select id="findHistory" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT id,mtype,senddate,uid,mobile,channel,content,contentNum,pid,location from sms_send_history_unknown
        <where>
            <if test="content!=null ">
                AND content LIKE "%"#{content}"%"
            </if>
            <if test="starttime!=null and starttime>0">
                AND senddate &gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                AND senddate &lt;#{endtime}
            </if>
            <if test="uid!=null and uid>0">
                AND uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND mobile=#{mobile}
            </if>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
        </where>
    </select>

    <select id="findById" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT content from sms_send_history_unknown
        <where>
            <if test="content!=null ">
                AND content LIKE "%"#{content}"%"
            </if>
            <if test="starttime!=null and starttime>0">
                AND senddate &gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                AND senddate &lt;#{endtime}
            </if>
            <if test="uid!=null and uid>0">
                AND uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND mobile=#{mobile}
            </if>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
        </where>
    </select>


    <select id="findSucc21" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT  arrive_fail,arrive_succ from smshy.sms_send_history_unknown
        <where>
            <if test="starttime!=null and starttime>0">
                AND senddate &gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                AND senddate &lt;#{endtime}
            </if>
            <if test="uid!=null and uid>0">
                AND uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND mobile=#{mobile}
            </if>
           limit 1
        </where>
    </select>

    <select id="export" resultType="com.pojo.SendingVo">
        SELECT mobile,senddate from sms_send_history_unknown where senddate&gt;20180619000000 and senddate&lt;20180620000000 and uid=51110
    </select>



    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sms_send_history_unknown (id,stype,mtype,senddate,uid,mobile,channel,content,contentNum,succ,fail,mtstat,pid,grade,
        expid,location,arrive_succ,arrive_fail,stat)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},0,#{item.mtype},#{item.senddate},#{item.uid},#{item.mobile},#{item.channel},#{item.content},#{item.contentNum},
            #{item.contentNum},0,'0',#{item.pid},0, #{item.expid},#{item.location},#{item.contentNum},0,1
            )
        </foreach>
    </insert>

    <insert id="insertHistory" parameterType="java.util.List">
        INSERT INTO sms_send_history_unknown (id,stype,mtype,senddate,uid,mobile,channel,content,contentNum,succ,fail,mtstat,pid,grade,
        expid,location,arrive_succ,arrive_fail,stat)
        VALUES
            (
            #{id},0,#{mtype},#{senddate},#{uid},#{mobile},#{channel},#{content},#{contentNum},
            #{contentNum},0,'0',#{pid},0, #{expid},#{location},#{contentNum},0,1
            )
    </insert>


    <select id="findHistoryAndRptcode" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
        SELECT   mobile,rptcode,rpttime from sms_rpt_for5
        <where>
            <if test="uid!=null and uid>0">
                AND  uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND  mobile=#{mobile}
            </if>
            <if test="pid!=null and pid>0">
                AND  pid=#{pid}
            </if>
            <if test="day!=null and day>0">
                AND  userday=#{day}
            </if>
        </where>
        UNION ALL  SELECT   mobile,rptcode,rpttime from sms_rpt_backups
        <where>
            <if test="uid!=null and uid>0">
                AND  uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND  mobile=#{mobile}
            </if>
            <if test="pid!=null and pid>0">
                AND  pid=#{pid}
            </if>
            <if test="day!=null and day>0">
                AND  userday=#{day}
            </if>

        </where>
    </select>


    <select id="countHistoryAndRptcode" parameterType="com.pojo.SendingVo" resultType="java.lang.Integer">
        SELECT count(0)   from sms_send_history_unknown  where  mobile=#{mobile}
    </select>

    <update id="updateByCondition" parameterType="com.pojo.SendingVo">
        UPDATE sms_send_history_unknown
        <set>
            <if test="content!=null ">
                content=#{content},
            </if>
        </set>
        <where>
            <if test="id!=null and id>0">
                AND id=#{id}
            </if>
            <if test="uid!=null and uid>0">
                AND uid=#{uid}
            </if>
            <if test="mobile!=null and mobile>0">
                AND mobile=#{mobile}
            </if>
            <if test="starttime!=null and starttime>0">
                AND senddate &gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                AND senddate &lt;#{endtime}
            </if>
        </where>
    </update>


    <select id="countTotal" parameterType="com.pojo.SendingVo" resultType="Integer">
        SELECT IFNULL(sum(contentNum),0)   from sms_send_history_unknown where
        senddate&gt;=#{starttime} and senddate&lt;#{endtime}  and uid=#{uid} and content not like "%"#{excludeContent}"%"

    </select>

    <select id="countSucc" parameterType="com.pojo.SendingVo" resultType="Integer">
        SELECT IFNULL(sum(contentNum),0)  from sms_send_history_unknown
        <where>
            arrive_succ=contentNum and arrive_fail=0
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
            <if test="excludeContent!=null">
                and content not like "%"#{excludeContent}"%"
            </if>
        </where>
    </select>

    <select id="countFail" parameterType="com.pojo.SendingVo" resultType="Integer">
        SELECT IFNULL(sum(contentNum),0)   from sms_send_history_unknown where
        arrive_succ=0 and arrive_fail=contentNum  and senddate&gt;#{starttime} and senddate&lt;#{endtime}  and uid=#{uid} and content not like "%"#{excludeContent}"%"

    </select>
    
    
    <update id="updateToSuccess" parameterType="com.pojo.SendingVo">
        UPDATE sms_send_history_unknown set arrive_succ=contentNum,arrive_fail=0,succ=contentNum
        <where>
            <if test="mobile!=null and mobile>0">
                and mobile=#{mobile}
            </if>
            <if test="id!=null and id>0">
                and id=#{id}
            </if>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
        </where>
    </update>

    <update id="updateToFail" parameterType="com.pojo.SendingVo">
        UPDATE sms_send_history_unknown set arrive_succ=0,arrive_fail=contentNum
        <where>
            <if test="mobile!=null and mobile>0">
                and mobile=#{mobile}
            </if>
            <if test="id!=null and id>0">
                and id=#{id}
            </if>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="starttime!=null and starttime>0">
                and senddate&gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime>0">
                and senddate&lt;=#{endtime}
            </if>
        </where>
    </update>
    
    <select id="findRptPush" parameterType="com.pojo.SendingVo" resultType="com.sioo.client.cmpp.vo.DeliverVo">
        SELECT mobile,uid,rptcode rpt_code,rpttime rpt_time,channelId channel,hisId hisId,pid,userday userDays
        from sms_rpt_backups
        <where>
            <if test="mobile!=null and mobile>0">
                and mobile=#{mobile}
            </if>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="day!=null and day>0">
                and userday=#{day}
            </if>
            <if test="pid!=null and pid>0">
                and pid=#{pid}
            </if>
        </where> UNION All
        SELECT mobile,uid,rptcode rpt_code,rpttime rpt_time,channelId channel,hisId hisId,pid,userday userDays
        from sms_rpt_for5
        <where>
            <if test="mobile!=null and mobile>0">
                and mobile=#{mobile}
            </if>
            <if test="uid!=null and uid>0">
                and uid=#{uid}
            </if>
            <if test="day!=null and day>0">
                and userday=#{day}
            </if>
            <if test="pid!=null and pid>0">
                and pid=#{pid}
            </if>
        </where>
    </select>

    <select id="getIds" resultType="String" >
        SELECT  DISTINCT  hisId from smshy.sms_rpt_backups where userday=20180922 and rptcode='DELIVRD' and uid=50872
    </select>


    <select id="getRptBacks" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo" >
        SELECT  DISTINCT  rptcode from smshy.sms_rpt_backups where userday=#{day} and mobile=#{mobile} and hisId=#{id} and uid=#{uid}
    </select>

    <select id="checkBlackMobileExsit" parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT count(0) from sms_black_mobile where mobile=#{mobile}
    </select>
    
    <insert id="inserBlackMobile">
        insert into sms_black_mobile(mobile,group_id,level,mobileType,remark) VALUES (#{mobile},#{id},#{level},#{mtype},#{content})
    </insert>
</mapper>