<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.mapper21.SmsUserReceiveMapper">




    <select id="findList" parameterType="com.pojo.SendingVo" resultType="com.pojo.SendingVo">
       SELECT content,channel,`time` senddate,mobile,expid,uid from sms_user_receive where uid=#{uid} and time&gt;=#{starttime} and expid like '47057%'
    </select>


</mapper>